<header class="">
  <nav class="container mx-auto flex items-center justify-between py-4">
    <div class="px-4">
      <a href="#" class="text-textStrong hover:text-textSoft text-xl font-bold">Inicio</a>
      <a href="#" class="text-textStrong hover:text-textSoft  text-xl font-bold ml-4">Sobre Mí</a>
      <a href="#" class="text-textStrong hover:text-textSoft  text-xl font-bold ml-4">Proyectos</a>
      <a href="#" class="text-textStrong hover:text-textSoft  text-xl font-bold ml-4">Contacto</a>
    </div>
    <a href="assets/CVLUCASHERREROMASI.pdf" download="CVLUCASHERREROMASI.pdf" class="hover:text-textSoft  text-white text-xl font-bold py-2 px-4 mx-4 rounded border border-Strong hover:border-textSoft hover:bg-Strong"
    >Descarga mi CV</a
  >
  </nav>
</header>
