<header>
  <nav class="container mx-auto flex items-center justify-between py-4">
    <div class="px-4 lg:block hidden">
      <a
        href="#sobremi"
        class="text-textStrong hover:text-secondFont text-sm lg:text-xl font-bold ml-6"
        >Sobre mí</a
      >
      <a
        href="#proyectos"
        class="text-textStrong hover:text-secondFont text-sm lg:text-xl font-bold ml-6"
        >Proyectos</a
      >
      <a
        href="#educacion"
        class="text-textStrong hover:text-secondFont text-sm lg:text-xl font-bold ml-6"
        >Educacion</a
      >
      <a
      href="mailto:lucasherrero2010@hotmail.com"
      class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold ml-6"
      >Contactame</a
    >
    </div>
    <a
      href="assets/CVLUCASHERREROMASI.pdf"
      download="CVLUCASHERREROMASI.pdf"
      class="hidden lg:block hover:text-textSoft text-white lg:text-xl font-bold py-2 px-4 mx-2 lg:mx-4 rounded border border-Strong hover:border-textSoft hover:bg-Strong"
      >Descarga mi CV</a
    >
    <div class="lg:hidden flex justify-end px-3">
      <button
      class="flex items-center px-3 py-2 border rounded text-textStrong border-textStrong hover:text-textSoft hover:border-textSoft"
      (click)="toggleMenu()"
    >
      <svg
        *ngIf="!menuOpen"
        class="fill-current h-4 w-4"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
      <svg
        *ngIf="menuOpen"
        class="fill-current h-4 w-4"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Cerrar</title>
        <path d="M10 8.586l4.293-4.293 1.414 1.414L11.414 10l4.293 4.293-1.414 1.414L10 11.414l-4.293 4.293-1.414-1.414L8.586 10 4.293 5.707l1.414-1.414L10 8.586z"/>
      </svg>
    </button>
    </div>
    <div class="lg:hidden flex justify-end px-3">
    <h1 class="font-bold text-2xl">Lucas Herrero Masi ✨</h1>
    </div>
  </nav>
  <div
    *ngIf="menuOpen"
    class="bg-background2 text-white flex flex-col items-center h-[25%] py-2"
  >
    <a
      href="#sobremi"
      class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold "
      >Sobre mí</a
    >
    <a
      href="#proyectos"
      class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold "
      >Proyectos</a
    >
    <a
      href="#educacion"
      class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold "
      >Educacion</a
    >
    <a
    href="mailto:lucasherrero2010@hotmail.com"
    class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold"
    >Contactame</a
  >
    <a
      href="assets/CVLUCASHERREROMASI.pdf"
      download="CVLUCASHERREROMASI.pdf"
      class="p-2 text-textStrong hover:text-textSoft text-lg lg:text-xl font-bold"
      >Descarga mi CV</a
    >
  </div>
  </header>
