<app-header></app-header>
<div class="font-sans flex items-center justify-center h-[90vh]">
  <div class="">
    <div class="flex items-center justify-center">
      <div
        class="flex flex-col items-start justify-center text-white space-y-4"
      >
        <img
          class="border-4 border-Strong rounded-full w-[20%]"
          src="https://i.imgur.com/vmcS7Dd.jpeg"
          alt="imagen perfil"
        />
        <h1 class="text-5xl font-extrabold align-middle">
          Lucas Herrero Masi
          <div
            class="align-middle center relative inline-block select-none whitespace-nowrap rounded-lg bg-teal-500 py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-white"
          >
            <div class="mt-px">Disponible para trabajar!</div>
          </div>
        </h1>
        <p class="text-2xl font-bold text-white border-b-2 border-Strong">
          Full Stack Web Developer
          <span class="text-2xl font-bold text-Strong">&lt;/&gt;</span>
        </p>

        <p class="text-lg text-secondFont font-normal">
          Tecnico en desarrollo de aplicaciones web, responsable, proactivo y
          con ganas de aprender y mejorar.
        </p>
        <div class="flex space-x-2">
          <a class="" href="https://github.com/LucasHerrero" target="_blank">
            <img
              src="https://i.imgur.com/8QUMEUu.png"
              alt="GitHub"
              class="h-10 w-10"
            />
          </a>
          <a href="https://linkedin.com/in/lucasherreromasi" target="_blank">
            <img
              src="https://i.imgur.com/ZMRHlHN.png"
              alt="linkedin"
              class="h-10 w-10"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <a href="mailto:lucasherrero2010@hotmail.com">
        <button
          class="bg-Strong hover:bg-white hover:text-Strong text-xl font-bold py-2 px-4 rounded-full mx-10"
        >
          Contactame!
        </button>
      </a>
    </div>
  </div>
</div>

<div class="py-9 font-sans flex flex-col items-center h-[90vh] bg-background2">
  <h1 class="text-5xl font-extrabold">Sobre mi</h1>

  <div class="flex flex-col items-center">
    <div class="w-[60%] my-9 text-start justify-center items-center">
      <p class="text-start">
        Hola soy <strong>Lucas</strong> soy
        <strong>Tecnico superior en desarrollo de aplicaciones web</strong>. Me
        apasiona la programacion y la informatica. Tengo experiencia en
        diferentes lenguajes asi como diferentes frameworks y herramientas. Soy
        capaz de desarrollarme de buena manera en equipos de trabajo aunque
        tambien puedo trabajar de igual manera de forma individual. Tengo
        experiencia en el desarrollo de aplicaciones web, tanto en el
        <strong> frontend </strong>como en el<strong> backend</strong>, asi como
        tambien en el desarrollo de aplicaciones moviles utilizando
        <strong>Ionic</strong>.<strong> Si tienes alguna duda o consulta no dudes en
        contactarme!</strong>.
      </p>
    </div>
    <h2 class="text-3xl font-extrabold">Habilidades Tecnicas</h2>
      <img class="" src="./assets/img/js.webp" alt="jsLogo">
    <a href="mailto:lucasherrero2010@hotmail.com">
      <button
        class="bg-Strong hover:bg-white hover:text-Strong text-xl font-bold py-2 px-4 rounded-full mx-10"
      >
        Contactame!
      </button>
    </a>
  </div>
</div>
